body {
  background-color:deepskyblue;
}
h1 {
    color: rgb(255, 195, 127);
}
.container {
    text-align: center;
}
input {
    width: 500px;
    height: 50px;    
}
.button {
    width: 100px;
    height: 50px;
}
.result {
    margin-top: 50px;
    font-size: 30px;
}